/**
*
*	Name:			IRAN Sans-Serif Font
*	Version:		5.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 25, 2012
*	Updated on:		Sep 01, 2017
*	Website:		             http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت های ایران سن سریف یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*	
**/
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('/src/assets/fonts/eot/IRANSansWeb.eot');
	src: url('/src/assets/fonts/eot/IRANSansWeb_Black.eot') format('embedded-opentype'),  /* IE6-8 */
		 url('/src/assets/fonts/woff2/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/src/assets/fonts/woff/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/src/assets/fonts/ttf/IRANSansWeb_Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('/src/assets/fonts/eot/IRANSansWeb_Bold.eot');
	src: url('/src/assets/fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/src/assets/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/src/assets/fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/src/assets/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('/src/assets/fonts/eot/IRANSansWeb_Medium.eot');
	src: url('/src/assets/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/src/assets/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/src/assets/fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/src/assets/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('/src/assets/fonts/eot/IRANSansWeb_Light.eot');
	src: url('/src/assets/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/src/assets/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/src/assets/fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/src/assets/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('/src/assets/fonts/eot/IRANSansWeb_UltraLight.eot');
	src: url('/src/assets/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/src/assets/fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/src/assets/fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/src/assets/fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('/src/assets/fonts/eot/IRANSansWeb.eot');
	src: url('/src/assets/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/src/assets/fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/src/assets/fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/src/assets/fonts/ttf/IRANSansWeb.ttf') format('truetype');
}


body {
  margin: 0;
  font-family: IRANSans !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  overflow-x: hidden;
  overflow-y: scroll;
}



code {
  font-family: IRANSans !important;
}
.mainheader-d{
  background:#20201b;
  height: 7vh;
  position: relative;
  width: 100vw;
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;

}
.modal{
  display: none;
}
/* 
.btnheader{
  color: #ffffff;
  background: none;
  border: none;
  margin-top: 8px;
  
 
} */
.logoarea-d{
  float: left;
  margin-right: 70px ;
  padding: none;
}
.iconarea-d button{
  background-color: #20201b;
  border: none;
  margin-right: 0vw;
  margin-top: 0.3vh;
  
}

.logoarea-d img {
width: 6vw;
margin:1.4vh 0 0 0;
float: left;


}
.loginarea{
  position: fixed;
  top:0;
  left: 0;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  z-index: 99999;
}


/* ========== searcharea */
.searcharea-d{
  height: 14vh;
  text-align: center;
  background: #282823;
  position: absolute;
  top: 75.8vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  /* z-index:100; */
}
.formarea-d{
  margin-top: 2vw;
  /* text-align: center; */
  margin-left:2.2vw ;
  margin-bottom: 1.3vh;
  
  
}
.formarea-d button{
  background-color:#282823 ;
  color: #c5c3c3;
  border: none;
 
  
  font-size: 1.1rem;
}
.formarea-d button:hover{
  color:#fd5908 ;
}
.formarea-d input[type=text]{
  /* width: 20vw;
  padding: 5px;
  border-radius: 1px;
  
  outline: none;
  color:#8b8888;
  height: 7vh; */
 
  border: none;
  outline: none;
  color:#8b8888;
  border-radius: 1px;
  width: 15vw;
  margin: 0 0 0 1vw;
  padding: 0.55vw;
  
  
 
}

.formarea-d select{
  border: none;
  outline: none;
  color:#8b8888;
  border-radius: 1px;
  width: 15vw;
  margin: 0 0 0 1vw;
  padding: 0.45vw;

 
}
.formarea-d select[name=home]{
 
}

.formarea-d input[type=submit]{
  width: 8vw;
  border: none;
  height: 5.7vh; 
  background: #ffffff;
  background: #fd5908;
  color: #ffffff;
  margin: 0 0 0 1vw;
  
  
  
}
.formarea-d input[type=submit]:hover{
  background: #d44b07;
  color: #ffffff;
  
}
/* ========== advance search */
.Advancesearch-d{
 background-color:#282823 ;
 z-index: 200;
 /* text-align: center; */
 background: #282823;
 position: absolute;
 left: 0;
 right: 0px;
 margin-left: auto;
 margin-right: auto;
 width: 80vw;
 padding-bottom: 3vh;
 top: 10vh;

  
}
.Advancesearch-d form{
  
  /* margin-left: 0.5vw; */
 
}
.Advancesearch-d form button{
  background-color:#282823 ;
  border: none;
  color:#fd5908;
  width: 16vw;
  
}
.Advancesearch-d form button:hover{
  color: #ffffff;
}
.Advancesearch-d label{
  color:#ffffff ;
}
.Advancesearch-d select {
  border: none;
  outline: none;
  color:#8b8888;
  border-radius: 1px;
  width: 15vw;
  margin: 0 0 4.5vh 1vw;
  padding: 0.45vw;
}


.Facilities input[type="checkbox"]{

margin-left: 0.5vw;
width:20px;
height:20px;
}


.Facilities {
  display: flex;
  flex-wrap: nowrap;
  /* background-color: DodgerBlue; */
  justify-content: center;
  background-color:#282823 ;
  z-index: 100;
  /* text-align: center; */
  background: #282823;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  
  
}
.Facilities > div {
  /* background-color: #f1f1f1; */
  width: 15vw;
  margin: 0 0 4.5vh 1vw;
  text-align: right;
  line-height: 75px;
  font-size: 1rem;
  background-color:#282823 ;
  color: #ffffff;
  

  
}



/* ======= carousel */
.carousel-d{
  z-index: -100;
  position:relative;
  overflow: hidden;
  background-size: cover;
  width: 100vw;
  height: 83vh;
  display: flex;
}


.carousel-d .carousel-caption{

  width: 70vw;
 /* margin-right: 20px; */
 margin-bottom: 20vh;
 border-radius: 3px;
}
.carousel-d .carousel-caption h3{
  font-size: 3.5rem;
  font-weight: bold;
}
.carousel-d .carousel-caption p{
  font-size: 1.5rem;
}

.Footerpart{
  background:#20201b;
  color: #ffffff;
}

.Logomenu{
  background: #ffffff;
  opacity: 50;
  display: none;
  position: fixed;
}
.logform{
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  background: #f7f7f7;
    border-width: 0px;
    border-style: solid;
    border-radius: 30px;
    box-shadow: 0px 1px 16px 0px rgba(0, 0, 0, 0.18);
    display: none;
  
}
.cardpardone-d{
 /* border-bottom: solid 1px #bbbaba; */
 /* z-index: -100; */
}

.card{
  margin-right: 10px;
  margin-top: 20px;
  width: 23vw;
  border-style: solid;
  border-radius: 30px;
  box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.18);
  border: none;
  margin-bottom:20px ;
}
.card:hover{
    box-shadow: 0px 4px 14.24px 1.76px rgba(0, 0, 0, 0.24);
  }


.Card.Header{
  background-color: #ffffff;
  height: 5vh;
}


.card .pricecard{
  float: right;
  /* /* margin-right: 0.6vw; */
  margin-top:0.70vh; 
  font-size: 1.3rem;
  color: #fd5908;
  font-weight: bold;
}
.card .iconcardarea-d{
  float: left;
  margin-top: 0.70vh;
  margin-left: -0.5vw;
  
}
.iconcardarea-d button{
  border: none;
  background-color: #ffffff;

}
.sharecard{

}
.sharecardarea-d{
    background-color:#fd5908 ;
    color: #ffff;
    margin: 0vw 1.3vw;
    width: 2.5vw;
    height: 15vh;
    border-radius: 3px;
    text-align: center;
    
    
}
.sharecardarea-d::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: #fd5908;
    border-top: 0;
    margin-left: -7px;
    margin-top: -5px;
  }
.iconcardarea-d .sharecardarea-d{
 z-index: 100;
 position: absolute;

}
.sharecardarea a{
  font-size: 1.3rem;

}

.sharecardarea:hover{
  color:#fd5908 ;
}
.cardpart-d{
   display: flex;
  justify-content: center; 
  margin-right: 30px; 
  /* z-index: -1; */
  
}
.cardpardone-d h1{
  display: flex;
  justify-content: center;
  margin-top: 7vh;
  font-size: 1.7rem;
  font-weight:500 ;

}
.cardpardone-d p{
  display: flex;
  justify-content: center;
}
.card-body{
  /* padding:3vw; */
  margin:0.5vw 0 0 0 ;
}
.card-footer{
  margin:0.5vw ;
 
}

.headercardarea{
  z-index: 100;
}
.sliderareapart{
margin: 10px 0px;
/* z-index: -1; */
}
.sliderareapart .card{
  box-shadow: none;
  margin-right: -10px;
}
.sliderareapart .card-text{
text-align: right;
float: right;
direction: rtl;
}
.sliderareapart .card-body{
  direction: rtl;
}
.sliderareapart .card-footer{
  direction: rtl;
}
.slick-slide{
  direction: rtl;
  margin: 10px 0px;
  padding: 25px;
}
.Footerpart .about{
  padding: 2vw 0;
  font-size:0.90rem;
  font-weight: lighter;
  /* text-align: justify; */
  text-justify: inter-word
}
.about h3{
  font-size: 1.5rem;
  margin-bottom: 2.5vh;
}
.Footerpart .contactus{
  padding: 2vw 0;
  font-size:0.90rem;
  font-weight: lighter;
  margin-right: 2.5vw;
}
.contactus .iconphone{
  border-radius: 5px;
  
}
.contactus h3{
  font-size: 20px;
  margin-bottom: 2.5vh;
}

.Footerpart .newsarea{
  padding: 2vw 0;
  font-size:0.90rem;
  font-weight: lighter;
}
.newsarea h3{
  font-size: 20px;
  margin-bottom: 2.5vh;
}


.Footerpart .formnews input[type=text]{
  background: #363632;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  width: 15vw;

}
.Footerpart .formnews button[type=submit]{
  background: #fd5908;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  margin-right: 8px;
  color: #ffffff;
}
.newsarea img{
  margin-left: auto;
  margin-right:auto ;
}




